{%extends "accounts/SignUp.html"%}
{% block content%}
<div class="col-" id="right">
            <div class="register-box">
                <h4>Log in</h3>                
                <h6>Don't have an account? <a href="{% url 'web-signup'%}">Sign up</a></h6>
                <div class="user-form">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="username_input">

                            <input id="usernameInput" name="username" type="text" placeholder="Username"> 
                        </div>

                        </div>
                        <div class="password1_input">
                            <br>
                            <input id="passwordInput" name="password" type="password" placeholder="Password">  
                        </div>

                        <input type="submit" name="submit-button" value="Log In" id="submit-button">
                        {% for message in messages%}
                            <p>{{message}}<p/>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
        
    </div>
    
{% endblock content%} 


